<%- include('../partials/header') %>

<h2>QUOTES MUTHUFUCKA</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quote</th>
    </tr>
  </thead>
  <tbody>
    <% quotes.forEach(function(quote) { %>
      <tr>
        <td><%= quote.name %></td>
        <td><%= quote.quote %></td>
        <td><a href="/quotes/<%= quote._id %>/edit">Edit</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
